@page
@model RazorAjax.Pages._ReceiverModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Receiver</title>
</head>
<body>
</body>
</html>
