@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Razor-Ajax Sample Application</h1>
<p>This project will demonstrate how to use Ajax with Razor pages to solve the issue of posting back an entire page when you only need to send or request from the 
    server a few bytes of data, thus making the end-user experience much greater.</p>
